.greeting-container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    padding: 15px;
    position: relative;
}

.from-text{
    position: absolute;
    right: 10px;
    bottom: 10px;
}